<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
    
</head>

<body>
    <div class="menu">
        <h1>Diseño Multimedia</h1>
        <ul>

            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>
        </ul>
    </div>
    <div class="menu1">
        <h1>Suscribete a nuestro boletin</h1>
        <form action="procesar_formulario.php">
            <label for="email"></label>
            <input class="emai" type="email" id="email" name="email" placeholder="ingrese el Email..."><br><br>

            <input type="submit" value="Suscribete">
        </form>
    </div>
    <main>
        <section class="section1">
            <div class="fromcont">
                <form class="form1" action="#">
                    <div class="flex">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required required placeholder="ingrese su nombre">
                    </div>
                    <div class="flex">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="ingese su email">
                    </div>
                    <div class="flex">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" required placeholder="ingese su telefono">
                    </div>
                    <div class="flex">
                        <label for="celular">Celular:</label>
                        <input type="tel" id="celular" name="celular" required required placeholder="ingese su celular">
                    </div>
                    <div class="flex1">
                        <label for="mensaje">Mensaje:</label>
                        <textarea id="mensaje" name="mensaje" rows="4" required></textarea required placeholder="ingrese el mensaje">
                    </div>
                    <div class="flex">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>

        </section>
        <section class="section2">
            <div class="es">
                <h2>QUE HACEMOS</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta unde odit obcaecati
                    adipisci
                    consequuntur recusandae velit architecto rerum minima hic omnis quam veritatis, modi, nihil ut
                    error,
                    eligendi magni Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta modi, omnis eligendi
                    fuga
                    reprehenderit repellendus quas molestias explicabo temporibus laudantium natus eius, ut consequatur
                    itaque amet, ea quisquam dolore ducimus!.</h4>

            </div>
            <div class="ls">
          </div>
        </section>
    </main>
    <footer class="footer1">
        <p>Desarrollo web PVS, copyright © 2017 </p>
    </footer>
</body>

</html>