<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="menu">
        <h1>Diseño Multimedia</h1>
        <ul>

            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>
        </ul>
    </div>
    <div class="menu1">
        <h1>Suscribete a nuestro boletin</h1>
        <form action="procesar_formulario.php">
            <label for="email"></label>
            <input class="emai" type="email" id="email" name="email" placeholder="ingrese el Email..."><br><br>

            <input type="submit" value="Suscribete">
        </form>
    </div>
    <main>
        <section class="section1">
            <div class="as">
                <h2>nosotros</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum molestias assumenda tempora dicta
                    nulla
                    fugiat minima modi nobis reiciendis maiores architecto quibusdam, vero blanditiis harum. Hic,
                    quaerat
                    magni? In, nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem necessitatibus
                    exercitationem non odio tenetur iure architecto numquam nihil nulla amet. Dignissimos blanditiis aut
                    provident reprehenderit rerum eius nisi accusantium neque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eius totam et fugiat eum consectetur
                    fugit suscipit delectus incidunt eaque ut numquam vero rerum in quibusdam, dolore nemo repellendus
                    cum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto consequatur quaerat
                    nisi, ipsam repellat facere illo qui aperiam necessitatibus quos culpa, alias perspiciatis, dolorem
                    sed magnam. Minima, eveniet omnis.</p>
            </div>
            <div class="os">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad odit enim ipsum, natus veniam maiores!
                Deserunt, fuga aut perspiciatis, molestiae necessitatibus quisquam ipsa minima dicta quod hic
                consequatur quos veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur
                mollitia non iure voluptate harum, dignissimos vero maxime unde dolores, et, temporibus quis minima!
                Distinctio error exercitationem suscipit corporis cumque dolor?Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Illum placeat aut iusto commodi delectus voluptates suscipit corporis voluptatum rerum
                nemo aspernatur a officia, maxime incidunt laborum recusandae earum rem ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quasi quisquam, nulla inventore soluta
                doloribus eius nam, beatae repellat adipisci sed rerum dolores doloremque, fuga totam expedita suscipit
                nemo explicabo!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est officiis delectus dignissimos. Fuga omnis
                sint ducimus expedita, eius aliquid, incidunt blanditiis provident error, voluptatem iure. Nihil facilis
                quis odio explicabo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quaerat iure nihil, asperiores beatae
                totam. Quas doloribus dolor, in perferendis ipsa aliquid quia nobis. Eaque, nostrum alias? Facilis, quas
                voluptatem!
            </div>
            <div class="us">

            </div>
        </section>
        <section class="section2">
            <div class="es">
                <h2>QUE HACEMOS</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta unde odit obcaecati
                    adipisci
                    consequuntur recusandae velit architecto rerum minima hic omnis quam veritatis, modi, nihil ut
                    error,
                    eligendi magni Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta modi, omnis eligendi
                    fuga
                    reprehenderit repellendus quas molestias explicabo temporibus laudantium natus eius, ut consequatur
                    itaque amet, ea quisquam dolore ducimus!.</h4>
        
        </div>
        
        </section>
    </main>
    <footer class="footer2">
        <p>Desarrollo web PVS, copyright © 2017 </p>
    </footer>
</body>

</html>