<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="menu">
        <h1>Diseño</h1>
        <h1 class="azul">Multimedia</h1> 
        <ul>

            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>

        </ul>
    </div>

    <div class="menu1">
        <h1>Suscribete a nuestro boletin</h1>

        <form action="procesar_formulario.php">
            <label for="email"></label>
            <input class="emai" type="email" id="email" name="email" placeholder="ingrese el Email..."><br><br>

            <input type="submit" value="Suscribete">
        </form>
    </div>
    <main>
        <section class="prom1">
            <h2 class="h1prom">Servicios</h2>
            <div class="serv">
                <H1>Diseño WEB</H1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, tempore tenetur a sequi quia accusamus
                    quam consequatur sed. Exercitationem debitis consectetur quibusdam quasi dolore commodi non
                    accusantium inventore asperiores consequatur?</P>
                    <p>precio: $300000- $100000</p>
            </div>
            <div class="serv">
                <H1>Desarrollo WEB</H1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, tempore tenetur a sequi quia accusamus
                    quam consequatur sed. Exercitationem debitis consectetur quibusdam quasi dolore commodi non
                    accusantium inventore asperiores consequatur?</P>
                    <p>precio: $300000- $100000</p>
            </div>
            <div class="serv">
                <H1>Hosting WEB</H1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, tempore tenetur a sequi quia accusamus
                    quam consequatur sed. Exercitationem debitis consectetur quibusdam quasi dolore commodi non
                    accusantium inventore asperiores consequatur?</P>
                    <p>precio: $300000- $100000</p>
            </div>
        </section>

        <section class="section2">
            <div class="is">
                <h2>QUE HACESMOS</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta unde odit obcaecati
                    adipisci
                    consequuntur recusandae velit architecto rerum minima hic omnis quam veritatis, modi, nihil ut
                    error,
                    eligendi magni Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta modi, omnis eligendi
                    fuga
                    reprehenderit repellendus quas molestias explicabo temporibus laudantium natus eius, ut consequatur
                    itaque amet, ea quisquam dolore ducimus!.</h4>
        
        </div>
        </section>
    </main>
    <footer class="footer1">
        <p>Desarrollo web PVS, copyright © 2017 </p>
    </footer>
</body>

</html>